/** Fonts **/
@font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'YoungSerif';
    src: url('/assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

/** Global **/

* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
}

:root {
    --clr-neutral-100:  hsl(0, 0%, 100%);
    --clr-brown-800:    hsl(14, 45%, 36%);
    --clr-rose-800:     hsl(332, 51%, 32%);
    --clr-rose-50:      hsl(330, 100%, 98%);
    --clr-stone-100:    hsl(30, 54%, 90%);
    --clr-stone-150:    hsl(30, 18%, 87%);
    --clr-stone-600:    hsl(30, 10%, 34%);
    --clr-stone-900:    hsl(24, 5%, 18%);
}

.bold {
    font-weight: bold;
}

body {
    color: var(--clr-stone-600);
}

h1, h2 {
    font-family: 'YoungSerif';
}

h1 {
    color: var(--clr-stone-900);
}

h2 {
    color: var(--clr-brown-800);
    font-size: 1.3rem;
}

img {
    width: 100%;
    object-fit: cover;
}

article {
    padding: 1rem 2rem;
}

/** Prep **/
.prep {
    background-color: var(--clr-rose-50);
    & h3 {
        color: var(--clr-rose-800);
    }
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 0.25rem 1rem;
    & li {
        padding: .25rem;
    }
}

/** Ingredients **/
.ingredients {
    & li {
        padding: .25rem;
    }
}


/** Instructions **/
.instructions ol {
    list-style: none;
    counter-reset: number;
    padding: 0;
}
.instructions ol li {
    counter-increment: number;
    font-size: 1rem;
    padding: 0.5rem 0;

}
.instructions ol li::before {
    content: counter(number) ".";
    color: var(--clr-rose-800);
    font-weight: bold;
    padding-right: 1rem;
}

/** Nutrition Table **/
tr > :nth-child(2) {
    color: var(--clr-brown-800);
    font-weight: 700;
}

table {
    margin: 1rem;
    width: 90%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid var(--clr-stone-150);
}

tr:last-child {
    border-bottom: none;
}

td {
    padding: 0.5rem 0;
}


 /** screens larger than 375px **/
@media screen and (min-width: 376px) {
    img {
        object-fit: cover;
        border-radius: 2rem;
        margin: 2rem;
    }
}