/** Fonts **/
@font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'YoungSerif';
    src: url('/assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

/** Global **/

* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
}

:root {
    --clr-neutral-100:  hsl(0, 0%, 100%);
    --clr-brown-800:    hsl(14, 45%, 36%);
    --clr-rose-800:     hsl(332, 51%, 32%);
    --clr-rose-50:      hsl(330, 100%, 98%);
    --clr-stone-100:    hsl(30, 54%, 90%);
    --clr-stone-150:    hsl(30, 18%, 87%);
    --clr-stone-600:    hsl(30, 10%, 34%);
    --clr-stone-900:    hsl(24, 5%, 18%);
}

body {
    color: var(--clr-stone-600);
}

h1, h2 {
    font-family: 'Young-Serif';
}

h1 {
    color: var(--clr-stone-900);
}

h2 {
    color: var(--clr-brown-800)
}

img {
    width: 100%;
    object-fit: cover;
}

.ingredients {
    background-color: var(--clr-rose-50);
    & h3 {
        color: var(--clr-rose-800)
    }
}

/** Nutrition **/
tr > :nth-child(2) {
    color: var(--clr-brown-800);
    font-weight: 700;
}